<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="${scan:-true}" scanPeriod="${scanPeriod:-60 second}" debug="false">
	<property resource="config.properties" />
	
	<appender name="log_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logback.root.level}</level>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">        
      		<evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->  
        		<expression>return message.contains("SELECT 1 ");</expression>  
      		</evaluator>  
      		<OnMismatch>NEUTRAL</OnMismatch>  
      		<OnMatch>DENY</OnMatch>  
    	</filter>
		<File>${logback.file.path}/mdyg.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${logback.file.path}/mdyg.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date [%thread] %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logback.root.level}</level>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">        
      		<evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->  
        		<expression>return message.contains("SELECT 1 ");</expression>  
      		</evaluator>  
      		<OnMismatch>NEUTRAL</OnMismatch>  
      		<OnMatch>DENY</OnMatch>  
    	</filter>  
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n%throwable{10}</pattern>
		</encoder>
	</appender>

	<logger name="com.sztx.mdyg.Interceptor" level="info" />
	<logger name="jdbc.resultset" level="OFF" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="INFO" />
	
	<root level="${logback.root.level}">
		<appender-ref ref="console" />
		<appender-ref ref="log_file" />
	</root>
</configuration>  
